# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
.venv
venv/
env/

# Ignore IDE and editor files
.vscode/
.idea/

# Ignore .env files
.env

# Ignore git files
.git
.gitignore
